<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WEBMarket</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.fxx.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckImgServlet</display-name>
    <servlet-name>CheckImgServlet</servlet-name>
    <servlet-class>com.fxx.check.CheckImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckImgServlet</servlet-name>
    <url-pattern>/checkImg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductListServlet</display-name>
    <servlet-name>ProductListServlet</servlet-name>
    <servlet-class>com.fxx.web.ProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListServlet</servlet-name>
    <url-pattern>/productList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductInfoServlet</display-name>
    <servlet-name>ProductInfoServlet</servlet-name>
    <servlet-class>com.fxx.web.ProductInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductInfoServlet</servlet-name>
    <url-pattern>/productInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IntoCartServlet</display-name>
    <servlet-name>IntoCartServlet</servlet-name>
    <servlet-class>com.fxx.web.IntoCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IntoCartServlet</servlet-name>
    <url-pattern>/intoCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCategoryListServlet</display-name>
    <servlet-name>AdminCategoryListServlet</servlet-name>
    <servlet-class>com.fxx.web.AdminCategoryListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCategoryListServlet</servlet-name>
    <url-pattern>/adminCategoryList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProductListServlet</display-name>
    <servlet-name>AdminProductListServlet</servlet-name>
    <servlet-class>com.fxx.web.AdminProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductListServlet</servlet-name>
    <url-pattern>/adminProductList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddPageServlet</display-name>
    <servlet-name>AdminAddPageServlet</servlet-name>
    <servlet-class>com.fxx.web.AdminAddPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddPageServlet</servlet-name>
    <url-pattern>/adminAddPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProductSaveServlet</display-name>
    <servlet-name>AdminProductSaveServlet</servlet-name>
    <servlet-class>com.fxx.web.AdminProductSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductSaveServlet</servlet-name>
    <url-pattern>/adminProductSave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteProductServlet</display-name>
    <servlet-name>AdminDeleteProductServlet</servlet-name>
    <servlet-class>com.fxx.web.AdminDeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteProductServlet</servlet-name>
    <url-pattern>/adminDeleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditProductServlet</display-name>
    <servlet-name>AdminEditProductServlet</servlet-name>
    <servlet-class>com.fxx.web.AdminEditProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditProductServlet</servlet-name>
    <url-pattern>/editProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProductDoEditServlet</display-name>
    <servlet-name>AdminProductDoEditServlet</servlet-name>
    <servlet-class>com.fxx.web.AdminProductDoEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductDoEditServlet</servlet-name>
    <url-pattern>/adminProductDoEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSearchProductServlet</display-name>
    <servlet-name>AdminSearchProductServlet</servlet-name>
    <servlet-class>com.fxx.web.AdminSearchProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchProductServlet</servlet-name>
    <url-pattern>/adminSearchProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxCheckUsernameServlet</display-name>
    <servlet-name>AjaxCheckUsernameServlet</servlet-name>
    <servlet-class>com.fxx.web.AjaxCheckUsernameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxCheckUsernameServlet</servlet-name>
    <url-pattern>/ajaxCheckUsername</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxIndexSerchServlet</display-name>
    <servlet-name>AjaxIndexSerchServlet</servlet-name>
    <servlet-class>com.fxx.web.AjaxIndexSerchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxIndexSerchServlet</servlet-name>
    <url-pattern>/ajaxIndexSerch</url-pattern>
  </servlet-mapping>
</web-app>